*{
    margin: 0;
    padding: 0;
    font-family: century ;
}
header{
    background-image: url(nature.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin: 25px;
}
ul li{
    display: inline-block;

}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    transition: 0.6s ease;
   
}
ul li a:hover{
    background-color: #fff;
    color: black;
}
.turn{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
}

section{
    margin: 10px;
    background-color: yellow;
}
.box-part{
    background-color: white;
    margin-top: 60px;
    padding: 30px 5px
}
.fa{
    color:blue;
    height: 30px;
}
a{
    border-bottom: 1px solid blue;
}
p{
    margin:30px;
}
.box{
    padding: 60px 0px;
}
#car{
    text-align: center;
    padding: 30px;
}
#van{
    text-align: center;
}
.cont{
    background-color: #fff;
}
#cure{
    text-align: center;
    padding: 30px;
}
#rent{
    text-align: center;
}
button{
    padding: 10px;
    margin: 10px;
}